.mainContainer {
  width: 28%;
  margin-left: 9%;
  height: 72vh;
  background-color: #0052fe;
  border-radius: 8px;
  margin-top: 1%;
}

.textContainer {
  margin-top: 7%;
  text-align: center;
}

.head1 {
  color: white;
  font-size: 1.5rem;
}

.head2 {
  font-size: 1.5rem;
  color: white;
}

.text {
  margin-left: 1%;
  margin-right: 1%;
  color: white;
  font-size: 1rem;
  padding: 10px;
}

.frame {
  margin-left: 25%;
  margin-top: 4%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  padding: 6px 8px;
  margin-left: 30%;
  margin-top: 2%;
  background-color: white;
  border: none;
  border-radius: 8px;
}
